{% load i18n admin_urls %}
{% block object-tools-items %}
    {% if has_add_permission %}
        <ul>
            <li>
                {% url cl.opts|admin_urlname:'add' as add_url %}
                <a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink">
                    {% blocktranslate with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktranslate %}
                </a>
            </li>
            <li>
                <a href="{% url "admin:add_multiples_books" %}" class="addlink">
                    add multiples books
                </a>
            </li>
        </ul>
    {% endif %}
{% endblock %}
